.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  justify-content: center;
}

.column {
  -ms-flex: 50%; /* IE10 */
  flex: 0 1 auto;
  margin: 30px;
}

.left-column {
  display: inline-block;
	width: 20%;
}

.right-column {
  display: inline-block;
	width: 70%;
}

.width-90 {
	width: 90%;
	margin: auto;
}

.dashboard-header {	
	font-size: 1em;
  height: 100px;
  background-color: #3b6978;
}

.dashboard__column {
  height: 600px;
  background-color: #3b6978;
}

.dashboard__column--title {
  text-align: center;
}

.measurement-row {
  text-align: center;
  height: 12em;
}

.measurement__value {
  display: inline-block;
  height: 5em;
	width: 45%;
  margin: 0 2%;
  background-color:#84a9ac;
  color: #cae8d5
}

.dashboard__column--div-values::last-child {
	text-align: center;
}